extends layout.pug


block title
	title GeMN - Empresa


block content
	.content
		.container
			each val in {dadosEmpresa}
				h1.titulo-pag • #{dadosEmpresa.EMPRESA}
				table.table
					tr
						td Nome Fantasia:
						td #{dadosEmpresa.NOMEFANTASIA}
					tr
						td Email:
						td #{dadosEmpresa.EMAIL}
					tr
						td Site:
						td #{dadosEmpresa.SITE}
					tr
						td CNPJ:
						td #{dadosEmpresa.CNPJ}
					tr
						td Estado:
						td #{dadosEmpresa.UF}
					tr
						td Cidade:
						td #{dadosEmpresa.CIDADE}
					tr
						td Endereço:
						td #{dadosEmpresa.ENDERECO}, #{dadosEmpresa.NUMERO}, #{dadosEmpresa.BAIRRO}
					tr
						td Cep:
						td #{dadosEmpresa.CEP}
					tr
						td Telefone:
						td #{dadosEmpresa.TELEFONE}
					tr
						td Quartos:
						td #{dadosEmpresa.QtdQuartos}
					tr
						td Embarcações:
						td #{dadosEmpresa.QtdEmbarcacoes}
					tr
						td Embarcações Molhada:
						td #{dadosEmpresa.QtdEmbacacoesMolhada}
					tr
						td Embarcações Suspensa:
						td #{dadosEmpresa.QtdEmbarcacoesSuspensa}


